h1{
    border: 1px solid orange;
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px 0px 20px 0px;
    width: 80%;
    margin: auto;
    margin-top: 40vh;
    margin-bottom: 50vh;
    transition: all .09s ease-in;
}

h1:hover{
    background-color: orange;
    color: white;
}