html, body{
  margin: 0;
  padding: 0;
}
#headerbox{
  width: 100%;
  background-image: url(http://s12.picofile.com/file/8402672818/web_3706562_1920.jpg)
}

#headerbox h1{
  margin-top: 0;
  padding-top: 0;
}

#headerbox h1 a{
  color: white !important;
  text-decoration: none;
}

#headerbox h1{
  text-align: right;
  padding-top: 20px;
  padding-right: 45px;
  font-family: 'sego ui';
}

#headerbox h2{
  padding-right: 45px;
  padding-bottom: 25vh;
  font-size: 16px;
  text-align: right;
  color: rgb(250,250,250);
  font-family: 'sego ui';
}

#header{
  background-color: rgb(10,10,10, 0.70)
}
